* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}
body {
  background: #edf2ff;
  font-family: 'Roboto' Sans-Serif;
}
.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 48px;
  margin-bottom: 8px;
}
.usarname {
  font-family: 'Roboto Mono' Monospace;
  font-weight 400;
  color: #00082f;
  opacity: 0.8;
  font-size: 18px;
}
img {
  width: 100%;
}
 img.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding: 3.7px;
  border: #4263eb solid 4px;
 }

ul {
  list-style: none;
  margin: 40px 0;
}


ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4263eb;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 16px;
  border-radius: 6px ;
  font-size: 14px;
  transition: background 400ms;
}

ul li a:hover {
  background: #363fc7;
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: #00082f;
  opacity: 0.6;
  transition: 400ms;
  
}

footer:hover {
  opacity: 1;
}
footer a {
  color: #00082f;
}